* {
  margin: 0px;
  padding: 0px;
}
.Father-container {
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "banner banner banner"
    "Tventa Tventa Tventa"
    "main main main"
    "bt-1 bt-1 bt-1"
    "Tarriendo Tarriendo Tarriendo"
    "rent rent rent"
    "bt-2 bt-2 bt-2";
}
.barra-navegacion {
  grid-area: navbar;
  background-color: violet;
}
.banner {
  grid-area: banner;
  display: flex;
  justify-content: center;
}
.Tventas {
  display: grid;
  grid-area: Tventa;
  margin-left: 200px;
}
.Tarriendo {
  display: grid;
  grid-area: Tarriendo;
  margin-left: 200px;
}
.cards-box {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
}
.cards-box2 {
  display: grid;
  grid-area: rent;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
}

.bt-1 {
  grid-area:bt-1;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 1 / 3;
  margin-left: 200px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.bt-2 {
  grid-area:bt-2;
  grid-column: 1 / 3;
  margin-left: 200px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

/*Recordar que los .js crean un div con la clase dada*/
.mazo {
  width: 300px;
  height: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.mazo img {
width: 20vh;
height: 20vh;
border: 1px solid #ccc
}


/* Aca va el CSS de la página de arriendo.